@import '~nativescript-theme-core/css/ruby.css';

Page {
  background-color: white;
  font-size: 17;
}

TextField {
  padding: 10 0;
}

ListView {
  margin: 0;
  padding: 0;
}

Button {
  padding: 10;
}

.btn {
  border-radius: 30;
  padding: 14 15;
  width: 100%;
  font-size: 18;
  font-weight: 700;
  letter-spacing: 0.02;
  background: #ff3761;
  /* background-image: linear-gradient(to left, #ff3761, rgb(255, 89, 62)); */
  color: #FFF;
}

.link {
  font-size: 14;
  font-weight: 500;
  color: #8e8e8e;
}

.main-container {
  padding: 20 30;
}

.o-separator {
  margin: 0;
  padding: 0;
  height: 1;
  width: 100%;
  background-color: #E2E6EB;
}

.u-separator--bottom {
  border-bottom-width: 1;
  border-bottom-color: #E2E6EB;
}

.l-container {
  padding: 10 15;
}

.l-container--no-top {
  padding-top: 0;
}

.l-control + .l-control {
  margin-top: 10;
}

.l-btn + .l-btn {
  margin-top: 10;
}

.l-brand-btn {
  margin-top: 30;
}

.l-logo-start-screen {
  margin-top: 8%;
  margin-bottom: 8%;
}

.form-control {
  border: 0;
  border-bottom-width: 1;
  border-bottom-color: #e8e8e8; /* #4f4d5e; */
  font-size: 16;
}