ListView {
  margin: 5;
}
label {
  margin: 10;
  horizontal-align: left;
  vertical-align: center;
}
TextField {
  border-width: 5;
  border-style: solid;
  border-color: #034793;
}
image {
  margin: 10;
}

.p-grocery-list__list {
  opacity: 0;
}
